# Example of data extraction

Usage example of extracting data using `mod13q1extractor`.  For this product, it's necessary to load NDVI, EVI and NBR variables with `HidroCLVariable` function. This example only takes two dates from an empty database, so it's create it with `catchment_names` list (names of HidroCL catchments for the study).

The first step is importing modules:

In [1]:
import hidrocl_paths as hcl
from hidroclabc import HidroCLVariable, mod13q1extractor

Then, create NDVI, EVI and NBR variables. For each variable, we assing the catchment names, then create the database using the names as columns name with the form: File ID, Date, catchment names.

In [2]:
ndvi = HidroCLVariable('ndvi', hcl.veg_o_modis_ndvi_mean_b_d16_p0d)
ndvi.add_catchment_names(hcl.catchment_names)
ndvi.checkdatabase()

evi = HidroCLVariable('evi_temporal', hcl.veg_o_modis_evi_mean_b_d16_p0d)
evi.add_catchment_names(hcl.catchment_names)
evi.checkdatabase()

nbr = HidroCLVariable('nbr_temporal', hcl.veg_o_int_nbr_mean_b_d16_p0d)
nbr.add_catchment_names(hcl.catchment_names)
nbr.checkdatabase()

Database found, using /Users/aldotapia/camels_test/MOD13Q1/veg_o_modis_ndvi_mean_b_d16_p0d.csv
Observations and catchment names added!
Catchment names already added!
Database found, using /Users/aldotapia/camels_test/MOD13Q1/veg_o_modis_ndvi_mean_b_d16_p0d.csv
Observations and catchment names added!
Database found, using /Users/aldotapia/camels_test/MOD13Q1/veg_o_modis_evi_mean_b_d16_p0d.csv
Observations and catchment names added!
Catchment names already added!
Database found, using /Users/aldotapia/camels_test/MOD13Q1/veg_o_modis_evi_mean_b_d16_p0d.csv
Observations and catchment names added!
Database found, using /Users/aldotapia/camels_test/MOD13Q1/veg_o_int_nbr_mean_b_d16_p0d.csv
Observations and catchment names added!
Catchment names already added!
Database found, using /Users/aldotapia/camels_test/MOD13Q1/veg_o_int_nbr_mean_b_d16_p0d.csv
Observations and catchment names added!

After creating the databases, each variable is load creating a `mod13q1extractor`. It's really important to place each variable in the correct order. For class definition infor type `help(mod13q1extractor)`:

In [3]:
modext = mod13q1extractor(ndvi,evi,nbr)

The extraction is really simple: Just type `mod13q1extracto{Object}.run_extraction()`. The process will start extracting the data from the older date for each variable.

---
**NOTE**

It could be useful to expand the functionality of the extract tool selecting the variable the user wants extracting only that variable.

---

In [4]:
modext.run_extraction()

Checking temporary folder /Users/aldotapia/tempHidroCL
Found 2 files
Processing scene A2022097 for ndvi
Time elapsed for A2022097: 63 seconds
Processing scene A2022097 for evi
Time elapsed for A2022097: 52 seconds
Processing scene A2022097 for nbr

/Users/aldotapia/opt/anaconda3/envs/ee/lib/python3.10/site-packages/rioxarray/raster_writer.py:110: UserWarning: The nodata value (3.402823466e+38) has been automatically changed to (3.4028234663852886e+38) to match the dtype of the data.
  warnings.warn(

Time elapsed for A2022097: 80 seconds
Processing scene A2022113 for ndvi
Time elapsed for A2022113: 54 seconds
Processing scene A2022113 for evi
Time elapsed for A2022113: 52 seconds
Processing scene A2022113 for nbr

/Users/aldotapia/opt/anaconda3/envs/ee/lib/python3.10/site-packages/rioxarray/raster_writer.py:110: UserWarning: The nodata value (3.402823466e+38) has been automatically changed to (3.4028234663852886e+38) to match the dtype of the data.
  warnings.warn(

Time elapsed for A2022113: 84 seconds

Some warning messages raise related to NoData values (fixed!). With `.checkdatabase()` each variable loads the new observations added to the database.

---
**NOTE**

Check observations in database before apply `run_extraction()`, extracting twice without checking database could lead to errors of duplicate observations.

---

In [5]:
modext.ndvi.checkdatabase()
modext.evi.checkdatabase()
modext.nbr.checkdatabase()

Database found, using /Users/aldotapia/camels_test/MOD13Q1/veg_o_modis_ndvi_mean_b_d16_p0d.csv
Observations and catchment names added!
Database found, using /Users/aldotapia/camels_test/MOD13Q1/veg_o_modis_evi_mean_b_d16_p0d.csv
Observations and catchment names added!
Database found, using /Users/aldotapia/camels_test/MOD13Q1/veg_o_int_nbr_mean_b_d16_p0d.csv
Observations and catchment names added!

After loading the database, the results can be accessed by `.observations` instance.

In [6]:
modext.ndvi.observations

,name_id,1001001,1001002,1001003,1020002,1020003,1021001,1021002,1041002,1044001,...,12820001,12825002,12861001,12863002,12865001,12872001,12876001,12876004,12878001,12930001
date,,,,,,,,,,,,,,,,,,,,,
2022-04-07,A2022097,111,141,120,88,112,121,100,123,122,...,595,408,500,571,598,551,531,604,558,361
2022-04-23,A2022113,103,134,114,88,109,118,94,122,120,...,597,296,502,654,661,589,531,490,484,257

The behavior of the object itself is updated as well

In [7]:
print(modext.ndvi)

Variable ndvi.
Records: 2.
Database path: /Users/aldotapia/camels_test/MOD13Q1/veg_o_modis_ndvi_mean_b_d16_p0d.csv.

In [8]:
modext.ndvi.indatabase

['A2022097', 'A2022113']